nav {
  margin-bottom: 3em;
}
.jumbotron { background: rgb(50, 50, 50) url(.jpg) 50% 100%; 
  background-size: cover; color: rgb(255,255,255); height: 50em; 
  position: relative; 
}

.jumbotron header { text-align: center; left: 0; position: absolute;
  right: 0; top: 50%;
  transform: translateY(-50%);
}

.jumbotron header h1 { font-size: 3em; margin: 0; text-transform: uppercase;
}

.jumbotron header p { margin: 0;
}

.post_history {
  height: 100px;
  width: 500px;
  margin: 100px auto 0px auto;
  border: 1px solid black;
}

.item1 {
  padding: 5px;
  margin: auto;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  overflow: hidden;
  float: left;
}

.item2 {
  padding: 5px;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border: 1px solid black;
  overflow: hidden;
  float: right;
}

input{
  color: white;
}

.item1 img {
  width: 100%;
  padding: 2px;
}

.item2 img {
 width: 100%;
 margin- bottom: 20px;
}

.vote_box{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.vote_box div{
  display: inline-block;
}

.vote_box img{
  height: 400px;
  width: auto;
  background-color: white;

}

.vote_btn{
  padding: 0;
  border: none;
  background-color: inherit;
}

.vote_item{
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #252525;
  -webkit-transition: box-shadow 0.3s transform 0.3s;
}

.vote_item:hover{
  box-shadow: 7px 7px 20px #252525;
  transform: translateY(0.1%);
  -webkit-transition: box-shadow 0.3s;
}

.vote_item h4{
  margin: 0 auto;
  text-align: center;
  color: white;
}

.left_item{
  position: relative;
  right: 0;
}

.right_item{
  position: relative;
  left: 0;
}

.vote_or{
  position: relative;
  padding: 5em;
  top: 50%;
  transform: translateY(-50%);
}

