
.jumbotron { background: rgb(50, 50, 50) url(.jpg) 50% 100%; 
  background-size: cover; color: rgb(255,255,255); height: 50em; 
  position: relative; 
}


.jumbotron header { text-align: center; left: 0; position: absolute;
  right: 0; top: 50%;
  transform: translateY(-50%);
}

.jumbotron header h1 { font-size: 3em; margin: 0; text-transform: uppercase;
}

.jumbotron header p { margin: 0;
}





.post_history {
  height: 100px;
  width: 500px;
  margin: 100px auto 0px auto;
  border: 1px solid black;
}

.item1 {
  padding: 5px;
  margin: auto;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  overflow: hidden;
  float: left;
}

.item2 {
  padding: 5px;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border: 1px solid black;
  overflow: hidden;
  float: right;
}

.item1 img {
  width: 100%;
  padding: 2px;
}

.item2 img {
 width: 100%;
 margin- bottom: 20px;
}

.vote_box{
  margin-top: 5em;
  position: relative;
  text-align: center;
}

.card{
  padding: 1em;
}

@media (max-width: 601px){
  #or_tag{
    display: none;
  }
}
.card .card-image img{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
