<!DOCTYPE html>
<html>
<head>
  <title><%@title="signin"%></title>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <form method="post" action="/signin" id="signup_form">
              <label for="Email" class="field1">Email:</label>
                <input type="email" class="field" name="email" placeholder="Email">
                <br>
                <br>

                <label for="password" class="field1">Password:</label>
                <input type="password" class="field" name="password" placeholder="Password">
                <br>
                <br>
              
            </form>
          </div>
      </div>
  </div>
</body>