<!DOCTYPE html>
<html>
<head>
  <title><%@title="signup"%></title>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <form method="post" action="/signup" id="signup_form">
              <label for="first-name" class="field1">First Name:</label>
                <input type="text" class="field" name="first_name" placeholder="First Name">
                <br>
                <br>

                <label for="last-name" class="field1">Last Name:</label>
                <input type="text" class="field" name="last_name" placeholder="Last Name">
                <br>
                <br>

                <label for= "username" class="field1">Username:</label>
                <input type="text" class="field" name="username" placeholder="Username">
                <br>
                <br>

                <label for="Email" class="field1">Email:</label>
                <input type="email" class="field" name="email" placeholder="Email">
                <br>
                <br>

                <label for="password" class="field1">Password:</label>
                <input type="password" class="field" name="password" placeholder="Password">
                <br>
                <br>


                <label for="password-confirmation" class="field1">Confirm Password:</label>
                <input type="password" class="field" name="password_confirmation" placeholder="Password">
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
          </div>
      </div>
  </div>
</body>
</html>