<div class="question_table">

  <div class="post_history">
    <div class = 'item1'>
      <img src=<%= @item1.url %>>
    </div>
      <p>VS</p>
    <div class = 'item2'>
      <img src=<%= @item2.url %>>
    </div>
  </div>

</div>


