
<% @questions.each do |question| %>
<div class="question_table">

  <div class="post_history">
    <div class = 'item1'>
      <img src=<%= question.item1.url %>>
    </div>
      <p>VS</p>
    <div class = 'item2'>
      <img src=<%= question.item2.url %>>

<div class="results">
  <div class="row">
    <div class="col s8 result_item offset-s2">
      <div class="row">
        <div>
          <div class = "col s5 result_image valign-wrapper">
            <img class="valign" src=<%= question.item1.url %>>
          </div>
          <div class="col s2 result_image"><h4>OR</h4></div>
          <div class = "col s5 valign-wrapper">
            <img class="valign" src=<%= question.item1.url %>>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%end%>

