<div class="question_table">

    <div class="question">
      <p>
        <h2>Item 1 Name OR Item 2 Name</h2>
        <p>4 comments - Posted on Aug 24, 2015</p>
      </p>
      <ul>
        <li>Winning item score</li>
        <li><img src="#"></li>
        <li>Losing item score</li>
        <li><img src="#"></li>
      </ul>
    </div>

</div>


