<!DOCTYPE html>
<html>
<head>
  <title><%@title="signin"%></title>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col s4 offset-s4 grid-example center-align">
            <form method="post" action="/signin" id="signup_form">
              <label for="Email" class="field1">Email:</label>

                <input type="email" class="field indigo darken-4" name="email" placeholder="Email" value = "<%= @user.email if @user && @user.email %>">
                <br>
                <br>

                <label for="password" class="field1">Password:</label>
                <input type="password" class="field indigo darken-4" name="password" placeholder="Password">
                <br>
                <br>
                <div class="center-align">
                <button class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
                </div>

            </form>
          </div>
      </div>
  </div>
</body>
