<div class="center-align comment">
  <p><i class="material-icons">message</i><h3>Comments</h3></p>
    <ul>
      <%@comments.each do |comment| %>
        <li><%=comment.text%></li>
      <% end %>
    </ul>
 </div>
