<% if @errors && @errors.any? %>
<div class="errors">
  <strong>There are some issues, please fix them:</strong>
  <ol>
    <% @errors.each do |error| %>
      <li><%= error %></li><br>
    <% end %>
  </ol>
</div>
<% end %>