<body>
  <section id="splash" class="jumbotron">
    <img src="/images/cover.jpeg" style='width: 100%;'>
    <header>
      <% if current_user %>
        <h1><a href="/new_post">POST</a>&nbsp<a href="/vote">VOTE</a></h1>
      <% else %>
        <h1>Cat-Or-Not</h1>
        <p><a href="/signin">Sign in</a> to compare</p>
      <% end %>
    </header>
  </section>
</body>