<!DOCTYPE html>
<html>
  <head>
    <title><%@title="Home"%></title>
  </head>
  <body>
    <section id="splash" class="jumbotron">
      <header>
        <h1>Cat-Or-Not</h1>
        <p>Sign in to compare</p>
      </header>
    </section>
  </body>
</html>

    
    