<body>
  <section id="splash" class="jumbotron">
    <header>
      <% if current_user %>
        <h1><a href="/new_post">POST</a>&nbsp<a href="/vote">VOTE</a></h1>
      <% else %>
        <h1>Cat-Or-Not</h1>
        <p>Sign in to compare</p>
      <% end %>
    </header>
  </section>
</body>