<%unless current_user%>
<nav>
  <div class="logo">
    <a href="/">CatOrNot</a>
  </div>
     <ul>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/signin">Log In</a></li>
    </ul>
</nav>
<%end%>

<nav>
  <div class="logo">
    <li><a href="/">CatOrNot</a></li>
    <li><a href="..">New</a></li>
    <li><a href="..">Trending</a></li>
  </div>
     <ul>
      <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>