<nav>
  <div class"clearfix"></div>
  <div class="logo">
    <a href="/">CatOrNot</a>
  </div>
     <ul>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/signin">Log In</a></li>
    </ul>
</nav>
