

  <nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">CatOrNot</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
  <%if current_user %>
        <li><a href="/new_post">New</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href="/logout">Log Out</a></li>
  <% else %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/signin">Signin</a></li>
  <% end %>
      </ul>
    </div>
  </nav>

  
    


  
