<h4>Question</h4>

<form class="myform" action="/submit" method="POST">
  <label for="question">Question: </label>
  <input type="text" name="question" placeholder="Question?"><br>
  <label for="question">Name: </label>
  <input type="text" name="item1_name" placeholder="Name for Item 1"><br>
  <label for="url_first">Enter first url: </label>
  <input type="url" class="url-input" data-image-target="image1" name="item1_url" placeholder="Enter the url..."><br>
  <img id = "image1" src ="">
  <label for="question">Name: </label>
  <input type="text" name="item2_name" placeholder="Name for Item 2"><br>
  <label for="url_second">Enter second URL: </label>
  <input type="url" class="url-input" data-image-target="image2" name="item2_url" placeholder="Enter the url..."><br>
  <img id = "image2" src ="">


    <label>Browser Select</label>
    <select class="browser-default" name="category">
      <option value="" disabled selected>Choose your option</option>
      <option value="technology" name="category">Technology</option>
      <option value="Fashion" name="category">Lifestyle</option>
      <option value="Entertainment" name="category">Entertainment</option>
    </select>
    <input type="submit" value="Post">

<script>
  $(".url-input").on("change", function(event) {
    var targetId = $(this).data("image-target");
    var targetElement = $("#"+targetId); // "image1" -> $("#image1")
    var imgSrc = $(this).val();         // text value of input field that has been 'changed'
    targetElement.attr("src", imgSrc);
  });
</script>

</form>