
<div class="container">
  <div class="row">
    <div class="options">
        <a href="/vote_item1">
          <div class="card col s6 m5 hoverable medium">
            <div class="card-image">
              <img src="<%= @question.item1.url %>">
            </div>
            <div class="card-action">
              <h4><%= @question.item1.name.capitalize %></h4>
            </div>
          </div>
        </div>
      </a>
      <div class="col m2 center-align" id="or_tag"><h3>OR</h3>
      </div>
      <a href="/vote_item2">
        <div class="card col s6 m5 hoverable medium">
          <div class="card-image">
            <img src="<%= @question.item2.url %>">
          </div>
          <div class="card-action">
            <h4><%= @question.item2.name.capitalize %></h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <form method="post" action="######">
    <div class="input-field col s8 offset-s2">
      <input type="text" name="comment_text" placeholder="Enter comment here before voting...">
        <input type="button" value="Submit">
    </div>
  </form>
</div>

