<h3>Item 1 VS Item 2</h3>

<div class="vote_box">
  <ul>
    <a href="/vote_item1"><img src="#" alt="item1"></a>
    <h1>VS</h1>
    <a href="/vote_item2"><img src="#" alt="item2"></a>
  </ul>
</div>

<div class="comment_box">
  <form method="post" action="######">
    <input type="text" name="comment_text" placeholder="Enter comment here before voting...">
    <input type="button" value="Submit">
  </form>
</div>
